
  .container {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  
 .box{
   margin-top: 7%;
 }
  
  .box h3{
      margin-bottom: 7%;
  }
  
  .col-left {
    width: 12% !important;
  }
  
  .col-right {
    width: 88% !important;
  }
  
  