.ptName{
    background-color: rgb(129, 255, 213);height: 50px;width: 50px;border-radius: 50%;text-align: center;padding: 8%;box-sizing: border-box;font-weight: bolder;
}

.tokenNo
{
    width: 18% !important;
    text-align: center;
}

.patientName{
    width: 40%;
}
.headingMain{
    display: inline-block;
}
.icons{
    margin-left: 10%;
}

tr{
    text-align: center;
}
th{
    text-align: center;
}

.ptName{
    display: inline;
}