<div class="card">
    <div class="card-body">
        <h3 class="headingMain">APPOINTMENTS FOR THE DAY</h3>
        <button routerLink="/receptionist/add-appointment/0" class="btn btn-dark btn-sm float-right">
            <i  class="bi bi-node-plus-fill"></i>Add
        </button>
        <div> 
            <input class="mb-2 form-control"   type="text" [(ngModel)]="filterterm" >
        </div>
        <div  class="alert alert-secondary" *ngFor="let item of listAppointments | filter:filterterm| paginate: { itemsPerPage: 4, currentPage: page }" role="alert">
            <div class="row">
                <div class="col-2">
                    <span class="badge badge-dark">#Token :0{{item.token}}</span>
                </div>
                <div class="col-3">
                    <span class="badge badge-warning">#PT0{{item.patientId}}</span>
                    <span>{{item.firstName + " "}}{{item.lastName}}</span>
                </div>
                <div class="col-2">
                    <span>Dr. {{item.docFirstName + " "}}</span>
                </div>
                <div class="col-2">
                    <i class="bi bi-alarm"></i>
                    {{item.time}}
                </div>
                <div class="col-3" style="padding-left: 15%;">
             
                    <a class="icons" ><i class="bi bi-pencil-square text-success"></i></a>
                    <a class="icons" (click)="onBill(item.appointmentId)"  ><i class="bi bi-printer"></i></a>
                        <a class="icons"><i class="bi bi-trash-fill text-danger"></i></a>    
                </div>
            </div>
          </div>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>