<section class="vh-100" style="background-color: #e4b87b2e;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  src="../../assets/pics/favpng_health-icon-logo-icon-healthy-lifestyle-logo-icon.png"
                  alt="login form"
                  class="img-fluid logo" style="border-radius:50%"
                />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                    <form [formGroup]="loginForm" (ngSubmit)="loginCredentials()">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">CMS Clinic</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
  
                    <div class="form-outline mb-4">
                        <p>
                            <input name="UserName" autocomplete="off" required minlength="5" class="form-control" 
                            [ngClass]="{'is-invalid': formControls.UserName.touched && formControls.UserName.invalid}" type="text" formControlName="UserName" placeholder="userName">
                        </p>
                    </div>
  
                    <div class="form-outline mb-4">
                        <p>
                            <input class="form-control" autocomplete="off" name="Password" 
                            [ngClass]="{'is-invalid': formControls.Password.touched && formControls.Password.invalid}" type="password" formControlName="Password" placeholder="Password">
                        </p>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block">Login</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!" style="color: #393f81;">Contact Admin</a></p>
                    <a href="#!" class="small text-muted">Primary Key - </a>
                    <a href="#!" class="small text-muted">Clinical Management System</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>