<div class="row rowBody">
    <div class="col-3 colLeft">

    </div>
    <div class="col-9 colRight">
        <div class="box">

            <h3 id='medHeader'>ADD MEDICINE</h3>
            <form #medForm="ngForm"  (ngSubmit)="onSubmit(medForm)">
                <input name="Status" [(ngModel)]="medicineObj.Status" class="d-none" >
                <input name="MedicineId"  [(ngModel)]="medicineObj.MedicineId" class="d-none" >
                <div class="row">
                    <div class="col">
                        <input type="text" [(ngModel)]="medicineObj.Name" name="Name" id='medname' class="form-control"
                            placeholder="Medicine Name">
                    </div>
                    <div class="col">
                        <input #MedPrice="ngModel" type="number" [(ngModel)]="medicineObj.Price" [ngClass]="{'is-invalid': (MedPrice.touched && MedPrice.invalid) ||( MedPrice.touched && MedPrice.value<0)}"  name="Price" id='medPrice'  class="form-control"
                            placeholder="Price">
                    </div>
                </div>

                <div class="row" style="margin-top: 2%;">
                   
                    <div class="col-6">
                        <input #Stock="ngModel"  [ngClass]="{'is-invalid': (Stock.touched && Stock.invalid) ||( Stock.touched && Stock.value<0)}" type="number" [(ngModel)]="medicineObj.Stock" name="Stock" id='Stock' class="form-control"
                            placeholder="Stock">
                    </div>
                </div>

                <button style="float: right;margin-top: 10%;" type="submit" class="btn btn-warning">Submit</button>

            </form>
        </div>

    </div>
</div>