<div class="card">
    <div class="card-body">
        <h3>APPOINTMENTS</h3>
        <div> 
            <input class="mb-2 form-control"   type="text" [(ngModel)]="filterterm" >
        </div>
        <div  class="alert alert-secondary" *ngFor="let item of listAppointments | filter:filterterm| paginate: { itemsPerPage: 4, currentPage: page }" role="alert">
            <div class="row">
                <div class="col-3">
                    <span class="badge badge-secondary">#PT0{{item.patientId}}</span>
                    <span>{{item.firstName + " "}}{{item.lastName}}</span>
                </div>
                <div class="col-2">
                    <span class="badge badge-secondary">Dr.</span>
                    <span>{{item.docFirstName}}</span>
                </div>
                <div class="col-4">
                    <i class="bi bi-alarm"></i>
                    {{item.time}}{{" - "}}{{item.date|date}}
                </div>
                <div class="col-3" style="padding-left: 15%;">
             
                        <a class="icons" (click)="listAllDetails(item.appointmentId)" > <i class="bi bi-eye-fill"></i></a>
                        <a class="icons" ><i class="bi bi-pencil-square text-success"></i></a>
                        <a class="icons"><i class="bi bi-check2-square text-danger"></i></a>    
                </div>
            </div>
          </div>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>