<div class="row rowBody">
    <div class="col-3 colLeft">

    </div>
    <div class="col-9 colRight">
        <div class="box">

            <h3 id='medHeader'>ADD MEDICINE</h3>
            <form #medForm="ngForm"  (ngSubmit)="onSubmit(medForm)">
                <input name="MedicineId" value="0" [(ngModel)]="medicineObj.MedicineId" class="d-none" >
                <div class="row">
                    <div class="col">
                        <input type="text" [(ngModel)]="medicineObj.Name" name="Name" id='medname' class="form-control"
                            placeholder="Medicine Name">
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="medicineObj.Price" name="Price" id='medPrice'  class="form-control"
                            placeholder="Price">
                    </div>
                </div>

                <div class="row" style="margin-top: 2%;">
                   
                    <div class="col-6">
                        <input type="number" [(ngModel)]="medicineObj.Stock" name="Stock" id='Stock' class="form-control"
                            placeholder="Stock">
                    </div>
                </div>

                <button style="float: right;margin-top: 10%;" type="submit" class="btn btn-warning">Submit</button>

            </form>
        </div>

    </div>
</div>