
    <div class="card">
        <div class="card-body">
        
            <div class="row">
                <div class="col-6">
                   
                    <form  #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    
                    <pre class="card card-block card-header mb-3">Model: {{selectedValue | json}}</pre>
                    <!-- <pre class="card card-block card-header mb-3">Selected option: {{selectedOption | json}}</pre> -->
                    <div>

                        <input name="testName" [(ngModel)]="selectedValue"
                        placeholder="Search test"
                            [typeahead]="listtest"
                            typeaheadOptionField="TestName"
                            (typeaheadOnSelect)="onSelect($event)"
                            (typeaheadOnPreview)="onPreview($event)"
                            class="form-control">

                            <input type="text" [(ngModel)]="selectTestId" name="TestId" class="d-none">
                    </div>
                    <button class="btn btn-sm btn-warning mt-2" style="float: right;" >add<i class="bi bi-node-plus-fill"></i></button>
                </form>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush" style="">
                        <ng-container *ngFor="let item of testList;let i = index">
                            <li *ngIf="item.index!=0"  class="list-group-item" >{{item.name}} <i (click)="remove(i,item.index)" class="bi bi-x-square-fill" style="color: brown;float: right;"></i> </li> 
                        </ng-container> 
                      </ul>
                </div>
            </div>
           
        </div>
    </div>

