<!-- <h3 id='doctorHeader' class="">DOCTOR REGISTERATION</h3> -->
<h3 id='othersHeader' class="">OTHERS REGISTERATION</h3>
<form #otherRegForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(otherRegForm)">
    <input #Status="ngModel" [(ngModel)]="userEditObj.Status" type="text" name="Status" id='status'
    class="d-none" >
    <input [(ngModel)]="userEditObj.UserId" ngModel type="text" name="UserId" id='UserId' class="d-none"
        placeholder="First name">
    <div class="row">
        <div class="col">
            <small>First Name</small>
            <input #FirstName="ngModel" pattern="[a-zA-Z ]*" required
                [ngClass]="{'is-invalid': FirstName.touched && FirstName.invalid }" [(ngModel)]="userEditObj.FirstName"
                ngModel type="text" name="FirstName" id='fname' class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <small>Last Name</small>
            <input #LastName="ngModel" pattern="[a-zA-Z ]*" required
                [ngClass]="{'is-invalid': LastName.touched && LastName.invalid }" [(ngModel)]="userEditObj.LastName"
                type="text" name=LastName id='lname' class="form-control" placeholder="Last name">
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col">
            <small>DOB</small>
            <input #DateOfBirth="ngModel"  max="{{dateMax | date:'yyyy-MM-dd'}}"  [(ngModel)]="userEditObj.UserDob"
                [ngClass]="{'is-invalid': DateOfBirth.touched && dateIsGreater}"
                (change)="OnDateChange(DateOfBirth.value)" required type="date" name="UserDob" id='docDOB'
                class="form-control" placeholder="DOB">
        </div>
        <div class="col">
            <small>Phone No.</small>
            <input #Phone="ngModel" pattern="[0-9 ]*" required
                [ngClass]="{'is-invalid': Phone.touched && Phone.invalid }" [(ngModel)]="userEditObj.Phone" type="text"
                name="Phone" id='phone' minlength="10" maxlength="10"  class="form-control" placeholder="Phone">
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col">
            <small>Location</small>
            <div style="display: flex;">
                <input required #City="ngModel" pattern="[a-zA-Z ]*" [ngClass]="{'is-invalid': City.touched && City.invalid }"
                    [(ngModel)]="userEditObj.City" type="text" name="City" class="form-control" placeholder="City">
                <input required #State="ngModel" pattern="[a-zA-Z ]*" [ngClass]="{'is-invalid': State.touched && State.invalid }"
                    [(ngModel)]="userEditObj.State" type="text" name="State" class="form-control" placeholder="State">
            </div>
        </div>
        <div class="col">
            <small>Credentials</small>
            <div  style="display: flex;">
                <input required #UserName="ngModel" [ngClass]="{'is-invalid': UserName.touched && UserName.invalid }"
                    [(ngModel)]="userEditObj.UserName" minlength="5"  type="text" name="UserName" class="form-control"
                    placeholder="Username">
                <input required #Password="ngModel" [ngClass]="{'is-invalid': Password.touched && Password.invalid }"
                    [(ngModel)]="userEditObj.Password" type="text" name="Password" class="form-control"
                    placeholder="Password">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 2%;">
        <div class="col">
            <small>Role</small>
            <select required #Role="ngModel"
                [ngClass]="{'is-invalid': (Role.touched && Role.invalid) ||( Role.touched && Role.value==0)}"
                [ngClass]="{'is-invalid': Role.touched && Role.invalid }" [(ngModel)]="userEditObj.RoleId"
                class="form-control" name="RoleId" id='StaffRoles'>
                <option selected value="0">---Select ROLE---</option>
                <option *ngFor="let item of listAllRoles" value={{item.RoleId}}>{{item.RoleName}}</option>
            </select>
        </div>
        <div class="col" >
            <small>Gender</small>
            <div style="display: flex;">
                <div style="padding-left: 5%;">
                    <input required [(ngModel)]="userEditObj.Gender"  type="radio" name="Gender" value="Male">
                    <label>Male</label><i class="bi bi-gender-male"></i>
                </div>
                <div style="padding-left: 5%;">
                    <input required [(ngModel)]="userEditObj.Gender"  type="radio" name="Gender" value="Female">
                    <label>Female</label><i class="bi bi-gender-female"></i>
                </div>
            </div>
        </div>
    </div>
    <button  style="float: right;margin-top: 5%;" type="submit" class="btn btn-warning">Submit</button>

</form>